.book-preview {
    text-align: center;
    padding: 0.5em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.book-preview h4 {
    text-transform: capitalize;
    color: black;
}

.price {
    color: var(--clr2)
}

.book-preview img {
    max-width: 100px;
}

.book-preview .sale-img {
    max-width: 96px;
    position: absolute;
    top: 35%;
    right: 0;
}