.books-filter {
    background-color: var(--clr2bg);
    padding: 0.3rem 1em;
    margin-block: .5em 1em;
}

.books-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .3em;
}

.books-filter form button {
    margin-inline: 0
}